#cta {
    background-color: var(--primary);
}

#cta img {
    height: 35rem;
}

#cta .circle {
    background-color: var(--alternative);
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

#cta .btn {
    background-color: var(--secondary);
    border: none;
    text-transform: uppercase;
}